doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    | <style type='text/css'>
    include ../public/stylesheets/style.css
    | </style>
  body
    block content
